<!DOCTYPE html>
<html>
  <head>
    <title>kagisys 7505</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= message %></h1>
    <input type="button" onclick="history.back()" value="戻る">
  </body>
</html>

