<!DOCTYPE html>
<html>
  <head>
    <title>kagisys 7505</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>ユーザー登録</h1>
    <form action="add" method="post">
      <p><label>名前：<input type="text" name="user_name" size="40"></label></p>
      <p><label>IDm：<input type="text" name="idm" size="40"></label></p>
      <p><input type="submit" value="登録"></p>
    </form>
  </body>
</html>
